# Maven build output
backend/target/
backend/user-service/target/
backend/common/target/
backend/transaction-service/target/
backend/investment-service/target/
backend/savings-goal-service/target/
backend/report-service/target/
backend/budget-service/target/
backend/debt-tracking-service/target/

# Node.js modules
frontend/node_modules/

# OS-specific files
.DS_Storekubeconfig
